.container{
    margin-bottom: 10px;
}

.Review-heading{
    text-align: center;
    color: darkolivegreen;
}
.btn{
    text-align: center;
    padding-bottom: 50px;
}
.btn .review-all{
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color:rgb(19, 1, 53);
    background-color:gainsboro ;
}
.review-all:hover{
    color: forestgreen;
}
.homeReview{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}